go 1.19

use (
    ./ws_demo
    ./consistent-hash
    ./concurrent-api-req
    ./chatroom
    ./GoVirtualFilesystem
    ./gophercises/quiet_hn
    ./gophercises/quiz-game
    ./gophercises/link-parser
)